# Data Reduction to Top 100 Rated Movies

In [1]:
import pandas as pd

df_movies = pd.read_csv("data_full/movies.csv")
df_ratings = pd.read_csv("data_full/ratings.csv")

In [2]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [3]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

Get top 2000 movies

In [7]:
movie_rating_count = pd.DataFrame(df_ratings['movieId'].value_counts()).reset_index()
df_movies_2000 = pd.merge(df_movies, movie_rating_count.head(2000)['movieId'], on='movieId')
df_movies_2000.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,5,Father of the Bride Part II (1995),Comedy
4,6,Heat (1995),Action|Crime|Thriller

In [8]:
df_movies_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  2000 non-null   int64
 1   title    2000 non-null   object
 2   genres   2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

Get ratings only for top 2000 movies

In [9]:
df_ratings_2000 = pd.merge(df_ratings, movie_rating_count.head(2000)['movieId'], on='movieId')
df_ratings_2000.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       3      296     5.0  1439474476
2       4      296     4.0  1573938898
3       5      296     4.0   830786155
4       7      296     4.0   835444730

In [10]:
df_ratings_2000.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19209421 entries, 0 to 19209420
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 586.2 MB

It has 1.9 million data points, lets split it into 200k

In [20]:
from sklearn.model_selection import train_test_split

_, df_ratings_200k = train_test_split(df_ratings_2000, test_size=200000, stratify=df_ratings_2000['movieId'])

In [23]:
df_movies_2000.to_csv("data/movies_2000.csv", index=False)
df_ratings_200k.to_csv("data/ratings_200k.csv", index=False)